{% extends 'base.html' %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
<h1>Images bookmarked</h1>

<div id="image-list">
    {% include "images/image/list_images.html" %}
</div>
{% endblock %}

<script>
// {% block domready %}

let page = 1;
let emptyPage = false;
let blockRequest = false;

window.addEventListener('scroll', function(e) {
    const margin = document.body.scrollHeight - window.innerHeight - 200;
    if (
        window.scrollY > margin && 
        !emptyPage && 
        !blockRequest
    ){
        blockRequest = true;
        page += 1;

        fetch('?images_only=1&page='+page).
        then(response => response.text()).
        then(html => {
            if (html === ''){
                emptyPage = true;
            } else {
                let imageList = document.getElementById('image-list');
                imageList.insertAdjacentHTML('beforeEnd', html);
                blockRequest = false;
            }
        });
    }
});

// {% endblock %}
</script>